## PYTHON PARA CIENCIA DE DATOS: PRACTICA

## Contenidos

* [0.Librerias](#0.Librerias)
* [00.Carga de datos](#00.Carga-de-datos)
* [01.Ejercicio 1: Análisis inicial](#01.Ejercicio-1:-Análisis-inicial)
    * [01.01.Número de muestras por cada variable:](#01.01.Número-de-muestras-por-cada-variable:)
    * [01.02.Media y desv estándar de variables numéricas:](#01.02.Media-y-desv-estándar-de-variables-numéricas:)

                                                .
                                                .
                                                .

#### Lo primero es la importación de librerias y carga de datos

### 0.Librerias <a class="anchor" id="0.Librerias"></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 00.Carga de datos <a class="anchor" id="00.Carga-de-datos"></a>

In [10]:
# Usando pandas cargamos el archivo .csv
raw_data = pd.read_csv("../01_Datos/Fitness_trackers.csv")

# Y comprobamos que se ha cargado correctamente con la función head()
raw_data.head()

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,"2,499","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,"2,099","2,499",AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,"1,722","2,099",LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,"2,469","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,"1,799","2,199",OLED Display,4.3,Plastic,7,NaN

                                                .
                                                .
                                                .

### 01.Ejercicio 1: Análisis inicial <a class="anchor" id="01.Ejercicio-1:-Análisis-inicial"></a>

In [12]:
# Vamos a visualizar la tabla completa para comprobar la consistencia en todas las filas
fitness_df = pd.DataFrame(raw_data)
fitness_df

# En un primer vistazo rápido nos damos cuenta de que la columna de Reviews no tiene ni un solo dato

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,"2,499","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,"2,099","2,499",AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,"1,722","2,099",LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,"2,469","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,"1,799","2,199",OLED Display,4.3,Plastic,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...
560,Huawei,Smartwatch,Watch 36456,Black,"55,000","55,000",AMOLED Display,4.1,Silicone,14,NaN
561,Huawei,Smartwatch,GT Fortuna-B19S Sport,Black,"13,990","20,990",AMOLED Display,4.1,Elastomer,14,NaN
562,GOQii,FitnessBand,HR,Black,"1,999","1,999",OLED Display,3.8,Silicone,7,NaN
563,GOQii,FitnessBand,Vital,Black,"3,499","3,499",OLED Display,3.7,Thermoplastic polyurethane,7,NaN
564,FOSSIL,Smartwatch,Gen 5E,"Grey, Multicolor","18,495","18,495",AMOLED Display,4.2,Stainless Steel,1,NaN

### 01.01.Número de muestras por cada variable:  <a class="anchor" id="01.01.Número-de-muestras-por-cada-variable:"></a>

In [17]:
# Vamos a explorar el dataframe con la funcion "info" esto nos dará información sobre las variablesz
fitness_df.info()

# Con esto confirmamos que las dos únicas columnas con valores NaN (faltantes) son "Rating" y "Reviews"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand Name                      565 non-null    object
 1   Device Type                     565 non-null    object
 2   Model Name                      565 non-null    object
 3   Color                           565 non-null    object
 4   Selling Price                   565 non-null    object
 5   Original Price                  565 non-null    object
 6   Display                         565 non-null    object
 7   Rating (Out of 5)               514 non-null    float64
 8   Strap Material                  565 non-null    object
 9   Average Battery Life (in days)  565 non-null    int64
 10  Reviews                         78 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 48.7+ KB

####       - Rating: 514 muestras sin valores "missing"
####       - Reviews: 78 muestras sin valores "missing"
####       - Resto de variables: 565 muestras (ningún valor faltante)

                                                .

### 01.02.Media y desv estándar de variables numéricas:  <a class="anchor" id="01.02.Media-y-desv-estándar-de-variables-numéricas:"></a>

In [17]:
# Vamos a explorar el dataframe con la funcion "info" esto nos dará información sobre las variablesz
fitness_df.info()

# Con esto confirmamos que las dos únicas columnas con valores NaN (faltantes) son "Rating" y "Reviews"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand Name                      565 non-null    object
 1   Device Type                     565 non-null    object
 2   Model Name                      565 non-null    object
 3   Color                           565 non-null    object
 4   Selling Price                   565 non-null    object
 5   Original Price                  565 non-null    object
 6   Display                         565 non-null    object
 7   Rating (Out of 5)               514 non-null    float64
 8   Strap Material                  565 non-null    object
 9   Average Battery Life (in days)  565 non-null    int64
 10  Reviews                         78 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 48.7+ KB

####       - Rating: 514 muestras sin valores "missing"
####       - Reviews: 78 muestras sin valores "missing"
####       - Resto de variables: 565 muestras (ningún valor faltante)